body {
	width: 32em;
	font-size: 11pt;
}

code {
	background-color: rgba(0,0,0,0.04);
	border-radius: 5px;
}

table, th, tr, td {
	border: 1px solid #000;
}

ul ul {
	padding-left: 1em;
}

.nav-tabs > li > a {
	font-size: 12pt;
}

.header {
	font-size: 14pt;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 3pt;
	background-color: #f7f7f7;
}

.question {
	float: right;
	font-size: 9pt;
}

.right {
	font-size: 9pt;
	float: right;
}

.left {
	font-size: 9pt;
	float: left;
}

.width16 {
	width: 16em;
}

.width32 {
	width: 32em;
}

.textCenter {
	text-align: center;
}

/* it's hack, should use navbar instead of tabs*/
.fixed-top {
	position: fixed;
}

.tab-content {
	padding-top: 3em;
}

.no-transparent {
	background-color: #fff;
}

/* it's hack, should use navbar instead of tabs*/