body {
	width: 32em;
	border-radius: 5px;
	font-size: 10pt;
}

footer {
	width: 32em;
}

code {
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0;
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;	
}

table, th, tr, td {
	border: 1px solid #000;
}

ul {
	margin-right: 10pt;
}

pre {
	font-size: 80%;
}

.header {
	font-size: 12pt;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 3pt;
	background-color: #f7f7f7;
}

.question {
	float: right;
	font-size: 9pt;
}

.right {
	font-size: 9pt;
	float: right;
}

.left {
	font-size: 9pt;
	float: left;
}